


/* footer start */
footer{
    background-color: #a27242;
    height: 80px;
}
/* footer end */


/* header start */
.breadcrumb {
    font-size: small;
}
.navbar{
    background-color: #a27242;
}
.navbar-brand{
    color: #ffffff;
    letter-spacing:10px;
}
.nav-link{
    color: #ffffff;
}
.nav-item {
    color: #d6bca5!important;
}
.breadcrumb-item{
    color:#a27242!important ;
}
.breadcrumb-item a{
    color: #404040;
}
/* header end */
/* 內文 start */
.font01 {
    color: #a27242;
  }
  
  .nav-link{
    color: #6b6b6b;
    font-size: 14px;
    line-height: 15px;
    padding:0px 30px 0px 0px;
    line-height: 30px;
  }
  .words{
    color: #424242;
    font-size: 14px;
    line-height: 25px;
    padding: 20px 0px;
    text-justify:inter-character;
  }
  li{
    color: #424242;
    font-size: 14px;
    line-height: 25px;
}
  .img01{
    padding: 20px 10px 20px 0px;
    width: 400px;
  }
  .img02{
    padding: 20px 10px 20px 0px;
    width: 100%;
  }
  .tags{
    color: #838383;
    font-size: 20px;
    font-weight:bold;
  }
  a{
    color: #424242;
  }
  a:hover{
    color: #a27242;
  }
  .badge{
      margin: 0px 5px 5px 5px;
  }
/* 內文 end */
/* 留言區 start */
.card {
    border: solid 1px#a27242;
}

img {
    width: 65px;
}

h5 {
    color: #a27242;
}

p {
    color: #717171;
    line-height:20px;
}

.card-head {
    color: #ffff;
    background-color: #a27242;
}

.card-header {
    background-color: #a27242;
    border: solid 5px #a27242;
    border-radius: 10%;
}

.border-brown {
    border: solid 1px #a27242;
    width:80%;
}

.stich {
    word-break: break-all;
}
/* 留言區 end */